<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pri.Mark.ext.dao.DescriptionMapper" >
  <resultMap id="BaseResultMap" type="pri.Mark.ext.model.Description" >
    <id column="description_id" property="descriptionId" jdbcType="INTEGER" />
    <result column="description_inputTime" property="descriptionInputtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="pri.Mark.ext.model.Description" extends="BaseResultMap" >
    <result column="description_text" property="descriptionText" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    description_id, description_inputTime
  </sql>
  <sql id="Blob_Column_List" >
    description_text
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="pri.Mark.ext.model.DescriptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from description
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pri.Mark.ext.model.DescriptionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from description
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from description
    where description_id = #{descriptionId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from description
    where description_id = #{descriptionId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pri.Mark.ext.model.DescriptionExample" >
    delete from description
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pri.Mark.ext.model.Description" >
    insert into description (description_id, description_inputTime, 
      description_text)
    values (#{descriptionId,jdbcType=INTEGER}, #{descriptionInputtime,jdbcType=TIMESTAMP}, 
      #{descriptionText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pri.Mark.ext.model.Description" >
    insert into description
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="descriptionId != null" >
        description_id,
      </if>
      <if test="descriptionInputtime != null" >
        description_inputTime,
      </if>
      <if test="descriptionText != null" >
        description_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="descriptionId != null" >
        #{descriptionId,jdbcType=INTEGER},
      </if>
      <if test="descriptionInputtime != null" >
        #{descriptionInputtime,jdbcType=TIMESTAMP},
      </if>
      <if test="descriptionText != null" >
        #{descriptionText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pri.Mark.ext.model.DescriptionExample" resultType="java.lang.Integer" >
    select count(*) from description
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update description
    <set >
      <if test="record.descriptionId != null" >
        description_id = #{record.descriptionId,jdbcType=INTEGER},
      </if>
      <if test="record.descriptionInputtime != null" >
        description_inputTime = #{record.descriptionInputtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.descriptionText != null" >
        description_text = #{record.descriptionText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update description
    set description_id = #{record.descriptionId,jdbcType=INTEGER},
      description_inputTime = #{record.descriptionInputtime,jdbcType=TIMESTAMP},
      description_text = #{record.descriptionText,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update description
    set description_id = #{record.descriptionId,jdbcType=INTEGER},
      description_inputTime = #{record.descriptionInputtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pri.Mark.ext.model.Description" >
    update description
    <set >
      <if test="descriptionInputtime != null" >
        description_inputTime = #{descriptionInputtime,jdbcType=TIMESTAMP},
      </if>
      <if test="descriptionText != null" >
        description_text = #{descriptionText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where description_id = #{descriptionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="pri.Mark.ext.model.Description" >
    update description
    set description_inputTime = #{descriptionInputtime,jdbcType=TIMESTAMP},
      description_text = #{descriptionText,jdbcType=LONGVARCHAR}
    where description_id = #{descriptionId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pri.Mark.ext.model.Description" >
    update description
    set description_inputTime = #{descriptionInputtime,jdbcType=TIMESTAMP}
    where description_id = #{descriptionId,jdbcType=INTEGER}
  </update>
</mapper>