<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pri.Mark.ext.dao.ShuoshuoMapper" >
  <resultMap id="BaseResultMap" type="pri.Mark.ext.model.Shuoshuo" >
    <id column="shuoshuo_id" property="shuoshuoId" jdbcType="INTEGER" />
    <result column="shuoshuo_releaseTime" property="shuoshuoReleasetime" jdbcType="TIMESTAMP" />
    <result column="shuoshuo_promulgator" property="shuoshuoPromulgator" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="pri.Mark.ext.model.Shuoshuo" extends="BaseResultMap" >
    <result column="shuoshuo_content" property="shuoshuoContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    shuoshuo_id, shuoshuo_releaseTime, shuoshuo_promulgator
  </sql>
  <sql id="Blob_Column_List" >
    shuoshuo_content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="pri.Mark.ext.model.ShuoshuoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shuoshuo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pri.Mark.ext.model.ShuoshuoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shuoshuo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shuoshuo
    where shuoshuo_id = #{shuoshuoId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shuoshuo
    where shuoshuo_id = #{shuoshuoId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pri.Mark.ext.model.ShuoshuoExample" >
    delete from shuoshuo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pri.Mark.ext.model.Shuoshuo" >
    insert into shuoshuo (shuoshuo_id, shuoshuo_releaseTime, 
      shuoshuo_promulgator, shuoshuo_content
      )
    values (#{shuoshuoId,jdbcType=INTEGER}, #{shuoshuoReleasetime,jdbcType=TIMESTAMP}, 
      #{shuoshuoPromulgator,jdbcType=VARCHAR}, #{shuoshuoContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pri.Mark.ext.model.Shuoshuo" >
    insert into shuoshuo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shuoshuoId != null" >
        shuoshuo_id,
      </if>
      <if test="shuoshuoReleasetime != null" >
        shuoshuo_releaseTime,
      </if>
      <if test="shuoshuoPromulgator != null" >
        shuoshuo_promulgator,
      </if>
      <if test="shuoshuoContent != null" >
        shuoshuo_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shuoshuoId != null" >
        #{shuoshuoId,jdbcType=INTEGER},
      </if>
      <if test="shuoshuoReleasetime != null" >
        #{shuoshuoReleasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shuoshuoPromulgator != null" >
        #{shuoshuoPromulgator,jdbcType=VARCHAR},
      </if>
      <if test="shuoshuoContent != null" >
        #{shuoshuoContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pri.Mark.ext.model.ShuoshuoExample" resultType="java.lang.Integer" >
    select count(*) from shuoshuo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shuoshuo
    <set >
      <if test="record.shuoshuoId != null" >
        shuoshuo_id = #{record.shuoshuoId,jdbcType=INTEGER},
      </if>
      <if test="record.shuoshuoReleasetime != null" >
        shuoshuo_releaseTime = #{record.shuoshuoReleasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.shuoshuoPromulgator != null" >
        shuoshuo_promulgator = #{record.shuoshuoPromulgator,jdbcType=VARCHAR},
      </if>
      <if test="record.shuoshuoContent != null" >
        shuoshuo_content = #{record.shuoshuoContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update shuoshuo
    set shuoshuo_id = #{record.shuoshuoId,jdbcType=INTEGER},
      shuoshuo_releaseTime = #{record.shuoshuoReleasetime,jdbcType=TIMESTAMP},
      shuoshuo_promulgator = #{record.shuoshuoPromulgator,jdbcType=VARCHAR},
      shuoshuo_content = #{record.shuoshuoContent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shuoshuo
    set shuoshuo_id = #{record.shuoshuoId,jdbcType=INTEGER},
      shuoshuo_releaseTime = #{record.shuoshuoReleasetime,jdbcType=TIMESTAMP},
      shuoshuo_promulgator = #{record.shuoshuoPromulgator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pri.Mark.ext.model.Shuoshuo" >
    update shuoshuo
    <set >
      <if test="shuoshuoReleasetime != null" >
        shuoshuo_releaseTime = #{shuoshuoReleasetime,jdbcType=TIMESTAMP},
      </if>
      <if test="shuoshuoPromulgator != null" >
        shuoshuo_promulgator = #{shuoshuoPromulgator,jdbcType=VARCHAR},
      </if>
      <if test="shuoshuoContent != null" >
        shuoshuo_content = #{shuoshuoContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where shuoshuo_id = #{shuoshuoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="pri.Mark.ext.model.Shuoshuo" >
    update shuoshuo
    set shuoshuo_releaseTime = #{shuoshuoReleasetime,jdbcType=TIMESTAMP},
      shuoshuo_promulgator = #{shuoshuoPromulgator,jdbcType=VARCHAR},
      shuoshuo_content = #{shuoshuoContent,jdbcType=LONGVARCHAR}
    where shuoshuo_id = #{shuoshuoId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pri.Mark.ext.model.Shuoshuo" >
    update shuoshuo
    set shuoshuo_releaseTime = #{shuoshuoReleasetime,jdbcType=TIMESTAMP},
      shuoshuo_promulgator = #{shuoshuoPromulgator,jdbcType=VARCHAR}
    where shuoshuo_id = #{shuoshuoId,jdbcType=INTEGER}
  </update>
</mapper>