<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pri.Mark.ext.dao.WyyzMapper" >
  <resultMap id="BaseResultMap" type="pri.Mark.ext.model.Wyyz" >
    <id column="wyyz_id" property="wyyzId" jdbcType="INTEGER" />
    <result column="wyyz_name" property="wyyzName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    wyyz_id, wyyz_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="pri.Mark.ext.model.WyyzExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wyyz
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wyyz
    where wyyz_id = #{wyyzId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wyyz
    where wyyz_id = #{wyyzId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pri.Mark.ext.model.WyyzExample" >
    delete from wyyz
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pri.Mark.ext.model.Wyyz" >
    insert into wyyz (wyyz_id, wyyz_name)
    values (#{wyyzId,jdbcType=INTEGER}, #{wyyzName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pri.Mark.ext.model.Wyyz" >
    insert into wyyz
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wyyzId != null" >
        wyyz_id,
      </if>
      <if test="wyyzName != null" >
        wyyz_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wyyzId != null" >
        #{wyyzId,jdbcType=INTEGER},
      </if>
      <if test="wyyzName != null" >
        #{wyyzName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pri.Mark.ext.model.WyyzExample" resultType="java.lang.Integer" >
    select count(*) from wyyz
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wyyz
    <set >
      <if test="record.wyyzId != null" >
        wyyz_id = #{record.wyyzId,jdbcType=INTEGER},
      </if>
      <if test="record.wyyzName != null" >
        wyyz_name = #{record.wyyzName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wyyz
    set wyyz_id = #{record.wyyzId,jdbcType=INTEGER},
      wyyz_name = #{record.wyyzName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pri.Mark.ext.model.Wyyz" >
    update wyyz
    <set >
      <if test="wyyzName != null" >
        wyyz_name = #{wyyzName,jdbcType=VARCHAR},
      </if>
    </set>
    where wyyz_id = #{wyyzId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pri.Mark.ext.model.Wyyz" >
    update wyyz
    set wyyz_name = #{wyyzName,jdbcType=VARCHAR}
    where wyyz_id = #{wyyzId,jdbcType=INTEGER}
  </update>
</mapper>